/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
       #map {
        height: 70%;
        width: 95%;
        margin: auto;
        margin-top: 20px;
      }
      
      /* Optional: Makes the sample page fill the window. */
      html,
      body {
        font-family: 'Sansita Swashed', cursive;
        height: 100%;
        margin: 0;
        padding: 0;
      }
      
      #description {
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
      }
      
      #infowindow-content .title {
        font-weight: bold;
      }
      
      #infowindow-content {
        display: none;
      }
      
      #map #infowindow-content {
        display: inline;
      }
      
      .pac-card {
        margin: 10px 10px 0 0;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
        background-color: #fff;
        font-family: Roboto;
      }
      
      #pac-container {
        padding-bottom: 12px;
        margin-right: 12px;
      }
      
      .pac-controls {
        display: inline-block;
        padding: 5px 11px;
      }
      
      .pac-controls label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
      }
      
      #pac-input {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 400px;
      }
      
      #pac-input:focus {
        border-color: #4d90fe;
      }
      
      #title {
        color: #fff;
        background-color: #4d90fe;
        font-size: 25px;
        font-weight: 500;
        padding: 6px 12px;
      }
    
      #target {
        width: 345px;
      }
      
      p {
        color: red;
        text-align: center;
      }
      .map-txt {
        margin-top: 50px;
      }

      .title {
          color: red;
          text-align: center;
          font-size: 80px;
      }
      .main-txt {
        padding-top: 75px;
      }

      .btn-block {
        width: 80%;
        margin: auto;
        margin-top: 100px;
        background-color: red;
        border-color: red;
      }
      .btn-block:hover {
        background-color: rgb(248, 97, 97);
        border-color: red;
      }
      
      .header {
        background-color: rgba(151, 151, 151, 0.384);
        height: 500px;
      }
      .footer {
        text-align: center;
        margin-top: 100px;
      }
      .initial-block {
        background-color: red;
        height: 50px;
      }
      .gb-img {
        height: 500px;
      }
      .link-btn:hover {
        text-decoration: none;
      }
      #navbrand, #navlink{
        color: white;
      }
      #linkedin{
        height: 25px;
      }

      .about-text{
        background-color: white;
        width: 600px;
        margin: auto;
        margin-top: 100px;
        letter-spacing: 1.5px;
        line-height: 2em;
        font-size: 1.6vw;
      }
      @media screen and (max-width: 600px) {
        .about-text {
          font-size: 5vw;
          width: auto;
        }
      }
      