{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

        <link href="{% static 'css/index.css' %}" rel="stylesheet" type="text/css">

        <link rel="preconnect" href="https://fonts.gstatic.com">

        <link href="https://fonts.googleapis.com/css2?family=Sansita+Swashed&display=swap" rel="stylesheet">

        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDikjsB27i23XRQad382KBcFHKNxzZ--1w&callback=initAutocomplete&libraries=places&v=weekly"defer></script>


        <title>The Queue</title>
    </head>
    
<body style="background-image: url({%static 'img/cool-background.png' %});">
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: red;">
      <a class="navbar-brand" id="navbrand" href="{% url 'home' %}"><b>Queue</b></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" id="navlink" href="{% url 'about' %}">Sobre nós <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" id="navlink" href="http://www.linkedin.com/in/yago-gomes" target="_blank"><img src="{% static '/img/linkedin.png' %}" alt="" id="linkedin"><span class="sr-only">(current)</span></a>
          </li>
        </ul>
      </div>
    </nav>

    <header>
    <div class="bg" style="background-image: url({%static 'img/01.jpg' %});">
        <div class="header">
          <div class="main-txt">
            <a href="{% url 'home' %}" class="link-btn">
              <h1 class="title">Queue</h1>
              <p>O jeito fácil de evitar filas</p>
            </a>
          </div>
        </div>
      </div>
    </header>
    
    <p class="map-txt">Procure pelo estabelcimento no mapa abaixo.</p>
    <input
      id="pac-input"
      class="controls"
      type="text"
      placeholder="Search Box"
    />
    <div id="map"></div>

    
    <a href="{% url 'update' %}" class="btn btn-primary btn-lg btn-block">Adicionar tempo de espera</a>
    <br>
    <a href="{% url 'route' %}" class="btn btn-primary btn-lg btn-block">Como chegar</a>

    <footer class="footer">
      <p>© copyright Yago Gomes</p><br>
    </footer>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static 'js/index.js' %}"></script>
</body>
</html>