/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
       #map {
        height: 70%;
        width: 95%;
        margin: auto;
        margin-top: 20px;
      }
      
      /* Optional: Makes the sample page fill the window. */
      html,
      body {
        font-family: 'Sansita Swashed', cursive;
        height: 100%;
        margin: 0;
        padding: 0;
      }
      
      p {
        color: red;
        text-align: center;
      }

      .title {
        color: red;
        text-align: center;
        font-size: 80px;
    }
      .map-txt {
        margin-top: 50px;
      }
      .main-txt {
        padding-top: 75px;
      }
      
      #description {
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
      }
      
      #infowindow-content .title {
        font-weight: bold;
      }
      
      #infowindow-content {
        display: none;
      }
      
      #map #infowindow-content {
        display: inline;
      }
      
      .pac-card {
        margin: 10px 10px 0 0;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
        background-color: #fff;
        font-family: Roboto;
      }
      
      #pac-container {
        padding-bottom: 12px;
        margin-right: 12px;
      }
      
      .pac-controls {
        display: inline-block;
        padding: 5px 11px;
      }
      
      .pac-controls label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
      }
      
      #pac-input {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 400px;
      }
      
      #pac-input:focus {
        border-color: #4d90fe;
      }
      
      #title {
        color: #fff;
        background-color: #4d90fe;
        font-size: 25px;
        font-weight: 500;
        padding: 6px 12px;
      }

      .calendar-text {
        color: red;
        text-align: center;
        margin-top: 40px;
      }

      .btn-block {
        width: 80%;
        margin: auto;
        margin-top: 100px;
        background-color: red;
        border-color: red;
      }
      .btn-block:hover {
        background-color: rgb(248, 97, 97);
        border-color: red;
      }
      .btnblock {
        margin-top: 150px;
      }
    
body {
    font-size: 100%;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.5;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-spacing: 2px;
}
.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}
/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
    *zoom: 1;
}
a, a:hover {
    text-decoration: none;
}
.img-responsive {
    max-width: 100%;
    height: auto;
}

body{
    font-family: 'Sansita Swashed', cursive;
     -webkit-user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
     user-select: none;
}



.md-outline {
    width: 30%;
    margin-left: 35.2%;
    text-align: center;
}
.save-time-btn {
    margin-top: 25px;
    margin-right: 10px;
    background-color: red;
    border-color: red;
}
.save-time-btn:hover {
    background-color: rgb(248, 97, 97);
    border-color: red;
}
.default-picker {
    text-align: center;
    margin-top: 40px;
    width: 20%;
    margin-left: 40%;
}
#default-picker {
  text-align: center;
}

.header {
    background-color: rgba(151, 151, 151, 0.384);
    height: 500px;
  }

  .footer {
    text-align: center;
    margin-top: 100px;
  }
  .initial-block {
    background-color: red;
    height: 50px;
  }
  .link-btn:hover {
    text-decoration: none;
  }

  .link-btn:hover {
    text-decoration: none;
  }
  #navbrand, #navlink{
    color: white;
  }
  #linkedin{
    height: 25px;
  }